html *
{
	font-family: 'Francois One', sans-serif;
}

body
{

}

.form-inline
{
	margin-top: 20%;
}

.hidden
{
  display: none;   
}

.first
{
	padding-top: 20px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #a3daff;
}


.hover-wrap
{
	margin: 20px auto;
	display: inline-block;
	-webkit-transition: all 0.2s ease-in-out; 
  	-moz-transition: all 0.2s ease-in-out;  
	    -o-transition: all 0.2s ease-in-out;  
   			 transition: all 0.2s ease-in-out; 
}

.hover-wrap:hover
{
	transform: scale(1.1,1.1);
}

.hover-wrap img
{	
	padding-top: 20%;
	opacity: .7;
	filter: alpha(opacity=30);
}

.hover-wrap a, a:link, a:visited
{
	color: #ffffff !important;
	text-decoration: none !important;
}

.second
{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	background: #263959;
}

.title-text
{
	font-size: 6vw;
	width: 100%;
	color: #fff;
	font-weight: 600;
}


#container-fluid-color-fix
{
	background-color: #fd999a;
}

#logo
{
	margin-top: 5px;
	font-size: 24px;
	font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.navbar.navbar-default
{
	background-color: #263959;
	margin-bottom: 0;
	border: none;
}

.center
{
	margin: 0 auto;
	text-align: center;
}

